@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AngularApplication
@model ViewItem
@inject UserModelsService models
@inject IComponentRegistry registry


@if (Model != null)
{

    @try
    {




        <div class="" style="display: flex; flex-direction: column; flex-wrap: nowrap;">
            <div style="width: 100%;">
                <div style="width: 100%;">

                    @if (Model.Top != null)
                    {
                        <partial name="ContentBox" model="@Model.Top" />
                    }
                </div>
            </div>
            <div style="width: 100%; height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                <div style="height: 100%;">
                    @if (Model.Left != null)
                    {
                        <partial name="ContentBox" model="@Model.Left" />
                    }
                </div>
                <div style="height: 100%; width: 100%;">
                    <div id="view-@(models.RegistrateModel(Model))" style="width: 100%; height: 100%;"
                         class="init"
                         ng-controller="@(registry.FindViewComponentFor(Model)+"Controller")"
                         ng-init="model=@Formating.ToJson(Model)"
                         onmousewheel="console.log(event)"
                         oncontextmenu="event.preventDefault(); event.stopPropagation(); $context.open('context-menu-@Model.GetContentPath()')">


                        @if (Model.Visible)
                        {

                            @await Component.InvokeAsync(registry.FindViewComponentFor(Model), new
                            {
                                Model = Model
                            })
                        }


                        <div id="view-@(models.RegistrateModel(Model.GetContextMenu()))">

                        </div>
                        <button id="context-menu-@(Model.GetContentPath())"
                                class="view-component-menu"
                                style="z-index: 1; width: 100px; "
                                onmouseleave=" $context.close(this);">

                            @if (Model.GetContextMenu() != null)
                            {
                                <vc:context-menu model="@Model.GetContextMenu()"></vc:context-menu>
                            }


                        </button>
                        <script>

                                (function () {

                                    const hideContextMenu = function () {
                                        const p = document.getElementById("context-menu-@(Model.GetContentPath())");
                                        if (!p) {
                                            setTimeout(hideContextMenu, 50);
                                        } else {
                                            p.style.display = 'none';
                                        }


                                    }
                                    setTimeout(hideContextMenu, 50);
                                })();

                        </script>



                    </div>
                    <div>
                        @{ Model.ViewInitiallized = true; }
                    </div>
                </div>
                <div style="height: 100%;">

                    @if (Model.Right != null)
                    {
                        <partial name="ContentBox" model="@Model.Right" />
                    }
                </div>

            </div>
            <div style="width: 100%;">
                <div style="width: 100%;">

                    @if (Model.Bottom != null)
                    {
                        <partial name="ContentBox" model="@Model.Bottom" />
                    }
                </div>
            </div>
        </div>


    }
    catch (Exception ex)
    {
        <div class="alert alert-danger">
            <h2> Исключение при формировании представления: @Model.GetType().Name @Model.GetContentPath() </h2>
            <p> @ex.Source </p>
            <p> @ex.Message </p>
            <div>
                @Formating.NormalzieStackTrace(ex)
            </div>
            @if (ex.HelpLink != null)
            {
                <a href="@ex.HelpLink"> справочная инфомация </a>
            }

            @if (ex.Data != null)
            {
                <table>
                    @foreach (var key in ex.Data.Keys)
                    {
                        <tr>
                            <td>@key</td>
                            <td>@ex.Data[key]</td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
}



