@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AngularApplication
@model FormField

<div class="input-group mb-3"
     id="field-container-@Model.GetInputId()">
    <div class="input-group-prepend">
        <label class="input-group-text" for="@Model.GetInputName()">
            <i class="material-icons">@Model.Icon</i>
        </label>
    </div>
    <input type="text"
           value="@Model.Value"
           name="@Model.GetInputName()"
           id="@Model.GetInputId()"
           style="height: 38px;"
           class="form-control is-@Model.State" />
    <div class="text-info valid-feedback" style="display: block;"
         id="Help_@Model.GetInputId()">@Model.Help</div>
        <div class="invalid-feedback"
             id="Error_@Model.GetInputId()"></div>
    </div>
    <div>
        @if (Model.Edited == false)
        {
            <script>
            document.getElementById('@(Model.GetInputId())').disabled = true;
            </script>
        }
    </div>